In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("500_Cities__City-level_Data__GIS_Friendly_Format___2017_release.csv")

In [20]:
import re

In [21]:
df.head()

,StateAbbr,PlaceName,PlaceFIPS,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ACCESS2_AdjPrev,ACCESS2_Adj95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,SLEEP_Adj95CI,STROKE_CrudePrev,STROKE_Crude95CI,STROKE_AdjPrev,STROKE_Adj95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,TEETHLOST_AdjPrev,TEETHLOST_Adj95CI,Geolocation
0,AL,Birmingham,107000,212237,19.6,"(19.2, 20.0)",19.8,"(19.5, 20.2)",30.9,"(30.8, 31.1)",...,"(46.6, 47.0)",5.2,"( 5.1, 5.3)",5.2,"( 5.1, 5.2)",26.1,"(25.1, 27.2)",25.9,"(25.0, 26.9)","(33.52756637730, -86.7988174678)"
1,AL,Hoover,135896,81619,9.7,"( 9.3, 10.1)",9.9,"( 9.5, 10.4)",25.3,"(25.0, 25.7)",...,"(34.2, 35.0)",2.2,"( 2.1, 2.3)",2.2,"( 2.1, 2.2)",9.6,"( 8.6, 10.8)",9.5,"( 8.5, 10.9)","(33.37676027290, -86.8051937568)"
2,AL,Huntsville,137000,180105,15.1,"(14.7, 15.4)",15.1,"(14.8, 15.5)",27.5,"(27.3, 27.7)",...,"(39.4, 40.0)",3.4,"( 3.3, 3.4)",3.3,"( 3.2, 3.3)",14.9,"(14.1, 15.7)",14.7,"(13.8, 15.5)","(34.69896926710, -86.6387042882)"
3,AL,Mobile,150000,195111,16.9,"(16.6, 17.2)",17.2,"(16.9, 17.5)",30.5,"(30.3, 30.6)",...,"(42.0, 42.4)",4.4,"( 4.3, 4.5)",4.1,"( 4.1, 4.2)",24.3,"(23.4, 25.3)",24.1,"(23.1, 25.0)","(30.67762486480, -88.1184482714)"
4,AL,Montgomery,151000,205764,17.4,"(17.0, 17.9)",17.5,"(17.1, 17.9)",29.8,"(29.7, 30.0)",...,"(41.0, 41.5)",4.1,"( 4.1, 4.2)",4.2,"( 4.1, 4.3)",21.2,"(20.3, 22.2)",21.2,"(20.1, 22.2)","(32.34726453330, -86.2677059552)"

In [22]:
df['Geolocation'].head()

0    (33.52756637730, -86.7988174678)
1    (33.37676027290, -86.8051937568)
2    (34.69896926710, -86.6387042882)
3    (30.67762486480, -88.1184482714)
4    (32.34726453330, -86.2677059552)
Name: Geolocation, dtype: object

In [23]:
df['latitude'] = df.Geolocation.str.extract(r"^[(](.*[.].*),")

In [24]:
df.latitude.head()

0    33.52756637730
1    33.37676027290
2    34.69896926710
3    30.67762486480
4    32.34726453330
Name: latitude, dtype: object

In [25]:
df['longitude'] = df.Geolocation.str.extract(r"([-].*[.].*)[)]")

In [26]:
df.longitude.head()

0    -86.7988174678
1    -86.8051937568
2    -86.6387042882
3    -88.1184482714
4    -86.2677059552
Name: longitude, dtype: object

In [27]:
df.to_csv("cities_with_geo.csv", index=False)